@mixin main {
	html {
		scroll-behavior: smooth;
		box-sizing: border-box;
		font-family: $main_font, Verdana, Geneva, Tahoma, sans-serif;

		body i {
			font-family:'FontAwesome'!important;
			}
	}

	*,
	*:before,
	*:after {
		box-sizing: inherit;
		padding: 0;
		margin: 0;
	}

	ul,
	ol {
		list-style: none;
	}

	img {
		width: 100%;
	}

	h1, h2, h3 {
		font-family: $secondary_font;
	}



	p {
		color: $font_clr-secondary;
		font-size: 22px;
		line-height: 35px;
	}

	a {
		text-decoration: none;
		color: #ffffff;
	}
}

@mixin media-max-width($point) {
	@media (max-width: #{$point}px) {
		@content;
	}
}

@mixin media-min-width($point) {
	@media (min-width: #{$point}px) {
		@content;
	}
}

@mixin clearfix {
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin css3-prefix($prop, $value) {
	-webkit-#{$prop}: #{$value};
	-moz-#{$prop}: #{$value};
	-ms-#{$prop}: #{$value};
	-o-#{$prop}: #{$value};
	#{$prop}: #{$value};
}

@mixin font-face($name, $file) {
	@font-face {
		font-family: "#{$name}";
		src: url("../fonts/#{$file}.eot");
		src: url("../fonts/#{$file}.eot?#iefix") format("embedded-opentype"),
			url("../fonts/#{$file}.woff") format("woff"),
			url("../fonts/#{$file}.ttf") format("truetype"),
			url("../fonts/#{$file}.svg?#webfont") format("svg");
	}
}

@mixin btn {
	color: #fff;
	background-color: darken($secondary_clr, $amount: 20%);
	line-height: 60px;
	height: 60px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	margin: 30px auto;
	border-radius: 50px;
	cursor: pointer;
}

@mixin wrapper($max-width, $padding) {
	max-width: #{$max-width}px;
	margin: 0 auto;
	padding: 0 #{$padding}px;
}
